<a href="https://colab.research.google.com/github/hrushikesh01/PDS-2303A51788-B12/blob/main/lab_6_1788.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Question-1
import pandas as pd

data = {
    "Transaction_ID": [101, 102, 103, 104, 105, 103, 104],
    "Product": ["Laptop", "Mouse", "Keyboard", "Monitor", "Headphones", "Keyboard", "Monitor"],
    "Quantity": [1, 2, 1, 1, 2, 1, 1],
    "Price": [70000, 500, 1500, 12000, 2000, 1500, 12000]
}

df = pd.DataFrame(data)
print("Original Dataset:")
print(df)

print("\nDuplicate Rows:")
print(df[df.duplicated()])

df_cleaned = df.drop_duplicates()
print("\nCleaned Dataset:")
print(df_cleaned)

print("\nDuplicate Count Before:", df.duplicated().sum())
print("Duplicate Count After:", df_cleaned.duplicated().sum())

Original Dataset:
   Transaction_ID     Product  Quantity  Price
0             101      Laptop         1  70000
1             102       Mouse         2    500
2             103    Keyboard         1   1500
3             104     Monitor         1  12000
4             105  Headphones         2   2000
5             103    Keyboard         1   1500
6             104     Monitor         1  12000

Duplicate Rows:
   Transaction_ID   Product  Quantity  Price
5             103  Keyboard         1   1500
6             104   Monitor         1  12000

Cleaned Dataset:
   Transaction_ID     Product  Quantity  Price
0             101      Laptop         1  70000
1             102       Mouse         2    500
2             103    Keyboard         1   1500
3             104     Monitor         1  12000
4             105  Headphones         2   2000

Duplicate Count Before: 2
Duplicate Count After: 0

In [ ]:
#Question 2
import pandas as pd

data = {
    "Employee_ID": [1, 2, 3, 4],
    "Name": ["Alice", "Bob", "Charlie", "David"],
    "Salary": ["50000", "60000", "55000", "65000"],
    "Joining_Date": ["2022-01-15", "2021-06-10", "2020-09-23", "2023-03-05"]
}

df = pd.DataFrame(data)
print("Original Dataset Info:")
print(df.dtypes)

df["Salary"] = pd.to_numeric(df["Salary"])
df["Joining_Date"] = pd.to_datetime(df["Joining_Date"])

print("\nCorrected Dataset Info:")
print(df.dtypes)
print("\nFinal Employee Dataset:")
print(df)

Original Dataset Info:
Employee_ID      int64
Name            object
Salary          object
Joining_Date    object
dtype: object

Corrected Dataset Info:
Employee_ID              int64
Name                    object
Salary                   int64
Joining_Date    datetime64[ns]
dtype: object

Final Employee Dataset:
   Employee_ID     Name  Salary Joining_Date
0            1    Alice   50000   2022-01-15
1            2      Bob   60000   2021-06-10
2            3  Charlie   55000   2020-09-23
3            4    David   65000   2023-03-05